In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

info_df = pd.read_csv('/content/drive/MyDrive/jeju.csv', on_bad_lines='skip')

rev_df = pd.read_csv('/content/drive/MyDrive/jeju_Review.csv', on_bad_lines='skip')

tour_df = pd.read_csv('/content/drive/MyDrive/jeju_Tour.csv', on_bad_lines='skip')


print(info_df.columns.tolist())

['id', 'placeID', 'MCT_NM', 'MCT_NAVER_NAME', 'UE_CNT_GRP', 'UE_AMT_GRP', 'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT', 'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT', 'OP_YMD', 'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT', 'UE_AMT_PER_TRSN_GRP', 'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT', 'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT', 'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT', 'RC_M12_AGE_OVR_60_CUS_CNT_RAT', 'MCT_TYPE', 'MCT_NAVER_TYPE', 'ADDR', 'WT', 'EWT', 'CD', 'NAVER_ADDR', 'PHONE', 'AMENITY', 'PAYMENT', 'TOTAL_REVIEW_NUM', 'TOTAL_BLOG_REVIEW_NUM', 'BOSS_TIP', 'AUTH_TITLE', 'crawling_main_ver', 'crawling_info_ver', 'crawling_review_ver', 'crawling_menu_ver', 'AUTH_CONTENT', 'keywords', 'keywords_embeddings', 'original_type', 'wheelchair_access', 'Closed', 'Latitude', 'Longitude']

In [ ]:
info_df

,id,placeID,MCT_NM,MCT_NAVER_NAME,UE_CNT_GRP,UE_AMT_GRP,MON_UE_CNT_RAT,TUE_UE_CNT_RAT,WED_UE_CNT_RAT,THU_UE_CNT_RAT,...,crawling_review_ver,crawling_menu_ver,AUTH_CONTENT,keywords,keywords_embeddings,original_type,wheelchair_access,Closed,Latitude,Longitude
0,1,NaN,(사)한국수상레저안전협회 제주제주시지부,NaN,1_상위 10% 이하,1_상위 10% 이하,1.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,분식,0,0,0.000000,0.000000
1,2,1.418973e+09,(유)아웃백스테이크하우스 제주아일랜드점,아웃백스테이크하우스 제주아일랜드점,6_90% 초과,6_90% 초과,0.188065,0.083183,0.108499,0.083183,...,3.0,NaN,NaN,"음식, 친절한 서비스, 주차 편리함",NaN,패밀리 레스토랑,0,0,33.481149,126.502462
2,3,NaN,(유)케이디에셋 담앤루,NaN,4_50~75%,1_상위 10% 이하,0.214286,0.204082,0.030612,0.000000,...,NaN,NaN,NaN,NaN,NaN,가정식,0,0,33.245852,126.451468
3,4,1.463425e+09,(주) 베이힐,베이힐풀앤빌라,2_10~25%,5_75~90%,0.086957,0.086957,0.260870,0.043478,...,3.0,NaN,NaN,편안한 분위기와 맛있는 조식으로 만족스러운 경험을 제공하는 나니아레스토랑. 주변 ...,NaN,단품요리 전문,0,0,33.237583,126.372076
4,5,1.247913e+09,(주) 비케이알 버거킹 제주화북DT점,버거킹 제주화북DT점,6_90% 초과,5_75~90%,0.115321,0.125206,0.146623,0.148270,...,3.0,NaN,NaN,버거킹 화북점은 맛있는 버거와 빠른 서비스로 만족스러운 식사를 제공합니다. 매장이...,NaN,햄버거,0,0,33.517639,126.562626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9247,9248,1.996719e+09,히아담,히아담,3_25~50%,2_10~25%,0.096774,0.112903,0.209677,0.161290,...,3.0,NaN,NaN,신선한 재료로 만든 맛있는 브런치와 친절한 서비스가 돋보이는 식당이다. 분위기가 ...,NaN,양식,0,0,33.476084,126.486324
9248,9249,1.011247e+09,히치하이커스라운지,NaN,2_10~25%,2_10~25%,0.000000,0.217391,0.173913,0.086957,...,3.0,NaN,NaN,NaN,NaN,가정식,0,0,33.499090,126.528797
9249,9250,1.762730e+09,히포파운드,NaN,4_50~75%,2_10~25%,0.185185,0.000000,0.000000,0.000000,...,3.0,NaN,NaN,제주에서 유명한 히포파운드가 전주 한옥마을에 새로 오픈하여 많은 인기를 끌고 있으...,NaN,단품요리 전문,0,1,33.485546,126.460446
9250,9251,3.216359e+07,힘찬장어,NaN,1_상위 10% 이하,1_상위 10% 이하,0.166667,0.000000,0.333333,0.000000,...,3.0,NaN,NaN,"다양한 음식이 풍성하게 제공되어 만족스러운 식사를 경험할 수 있는 맛집으로, 특히...",NaN,단품요리 전문,0,0,33.490559,126.492486
9251,9252,NaN,힛업,NaN,1_상위 10% 이하,3_25~50%,0.100000,0.100000,0.000000,0.100000,...,NaN,NaN,NaN,NaN,NaN,양식,0,0,33.486927,126.478014

In [ ]:
info_df['MCT_TYPE'].value_counts()

MCT_TYPE
단품요리 전문      3429
가정식          3225
커피            508
치킨            337
일식            277
양식            238
분식            236
중식            219
베이커리          204
맥주/요리주점       159
피자             90
꼬치구이           57
아이스크림/빙수       56
햄버거            47
구내식당/푸드코트      34
샌드위치/토스트       27
떡/한과           22
도시락            15
차              10
기타세계요리         10
주스              9
도너츠             8
동남아/인도음식        8
스테이크            6
포장마차            6
부페              4
패밀리 레스토랑        3
민속주점            3
기사식당            3
야식              2
Name: count, dtype: int64

In [ ]:
info_df['MCT_TYPE'].apply(type).value_counts()

MCT_TYPE
<class 'str'>    9252
Name: count, dtype: int64

In [ ]:
def clean_mct_type(value):
    # 값이 숫자형(float 또는 int)이거나, 숫자로 변환 가능한 문자열인 경우 '기타' 처리
    try:
        float(value)  # 숫자형이거나 숫자로 바뀌는 문자열이면
        return '기타'
    except:
        return value  # 나머지는 그대로

# 적용
info_df['MCT_TYPE_CLEAN'] = info_df['MCT_TYPE'].apply(clean_mct_type)

In [ ]:
sorted(info_df['MCT_TYPE'].dropna().unique())

['가정식',
 '구내식당/푸드코트',
 '기사식당',
 '기타세계요리',
 '꼬치구이',
 '단품요리 전문',
 '도너츠',
 '도시락',
 '동남아/인도음식',
 '떡/한과',
 '맥주/요리주점',
 '민속주점',
 '베이커리',
 '부페',
 '분식',
 '샌드위치/토스트',
 '스테이크',
 '아이스크림/빙수',
 '야식',
 '양식',
 '일식',
 '주스',
 '중식',
 '차',
 '치킨',
 '커피',
 '패밀리 레스토랑',
 '포장마차',
 '피자',
 '햄버거']

In [ ]:
info_df['MCT_TYPE_CLEAN'].value_counts()

MCT_TYPE_CLEAN
단품요리 전문      3429
가정식          3225
커피            508
치킨            337
일식            277
양식            238
분식            236
중식            219
베이커리          204
맥주/요리주점       159
피자             90
꼬치구이           57
아이스크림/빙수       56
햄버거            47
구내식당/푸드코트      34
샌드위치/토스트       27
떡/한과           22
도시락            15
차              10
기타세계요리         10
주스              9
도너츠             8
동남아/인도음식        8
스테이크            6
포장마차            6
부페              4
패밀리 레스토랑        3
민속주점            3
기사식당            3
야식              2
Name: count, dtype: int64

In [ ]:
# 예시 MCT_TYPE Series
mct_series = info_df['MCT_TYPE']

# 카테고리 매핑 딕셔너리
category_map = {
    '한식': ['단품요리 전문', '가정식', '분식', '떡/한과', '기사식당', '야식'],
    '일식': ['일식', '꼬치구이'],
    '중식': ['중식'],
    '양식': ['양식', '피자', '스테이크', '패밀리 레스토랑'],
    '아시아기타': ['동남아/인도음식', '기타세계요리'],
    '패스트푸드': ['햄버거', '샌드위치/토스트', '도너츠', '도시락'],
    '디저트/카페': ['커피', '차', '아이스크림/빙수', '주스', '베이커리'],
    '주점/주류': ['맥주/요리주점', '민속주점', '포장마차'],
    '기타': ['구내식당/푸드코트', '부페']
}

# mapping function 정의
def map_category(x):
    for category, keywords in category_map.items():
        if x in keywords:
            return category
    return '기타'  # 매핑되지 않는 값은 기타로 처리

# 대분류 컬럼 생성
info_df['MCT_TYPE_GROUP'] = mct_series.apply(map_category)

# 원-핫 인코딩 수행
mct_onehot = pd.get_dummies(info_df['MCT_TYPE_GROUP'], prefix='MCT_TYPE_GROUP')

# 기존 DataFrame에 병합
info_df = pd.concat([info_df, mct_onehot], axis=1)

# 중복된 열 제거
info_df = info_df.loc[:, ~info_df.columns.duplicated()]
# 결과 예시 보기
print(info_df[['MCT_TYPE', 'MCT_TYPE_GROUP']])

      MCT_TYPE MCT_TYPE_GROUP
0           분식             한식
1     패밀리 레스토랑             양식
2          가정식             한식
3      단품요리 전문             한식
4          햄버거          패스트푸드
...        ...            ...
9247        양식             양식
9248       가정식             한식
9249   단품요리 전문             한식
9250   단품요리 전문             한식
9251        양식             양식

[9252 rows x 2 columns]

In [ ]:
info_df.columns[-10:]  # 끝에서 10개 열 확인 (원-핫 열이 포함되어 있는지 확인용)

Index(['MCT_TYPE_GROUP', 'MCT_TYPE_GROUP_기타', 'MCT_TYPE_GROUP_디저트/카페',
       'MCT_TYPE_GROUP_아시아기타', 'MCT_TYPE_GROUP_양식', 'MCT_TYPE_GROUP_일식',
       'MCT_TYPE_GROUP_주점/주류', 'MCT_TYPE_GROUP_중식', 'MCT_TYPE_GROUP_패스트푸드',
       'MCT_TYPE_GROUP_한식'],
      dtype='object')

In [ ]:
# 기존 원핫 컬럼 제거 (혹은 새로 DataFrame 구성)
info_df = info_df.drop(columns=[col for col in info_df.columns if 'MCT_TYPE_GROUP_' in col])

# 다시 원핫 인코딩
one_hot = pd.get_dummies(info_df['MCT_TYPE_GROUP'], prefix='MCT_TYPE_GROUP')
info_df = pd.concat([info_df, one_hot], axis=1)

In [ ]:
print(info_df.filter(like='MCT_TYPE_GROUP_').head())
print(info_df.columns[info_df.columns.duplicated()])  # 중복된 컬럼 이름 확인

   MCT_TYPE_GROUP_기타  MCT_TYPE_GROUP_디저트/카페  MCT_TYPE_GROUP_아시아기타  \
0              False                  False                 False
1              False                  False                 False
2              False                  False                 False
3              False                  False                 False
4              False                  False                 False

   MCT_TYPE_GROUP_양식  MCT_TYPE_GROUP_일식  MCT_TYPE_GROUP_주점/주류  \
0              False              False                 False
1               True              False                 False
2              False              False                 False
3              False              False                 False
4              False              False                 False

   MCT_TYPE_GROUP_중식  MCT_TYPE_GROUP_패스트푸드  MCT_TYPE_GROUP_한식
0              False                 False               True
1              False                 False              False
2              False                 False               True
3              False                 False               True
4              False                  True              False
Index([], dtype='object')